@import 'tailwindcss';

@font-face {
    font-family: FunnelDisplay;
    src: url('../assets/fonts/FunnelDisplay-VariableFont_wght.ttf');
}

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        /* font-family:; */
        font-family: 'FunnelDisplay', sans-serif;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

@theme {
    --text-dynamic: clamp(10px, 16px, calc(12 * 0.125vh));
}
