@import 'tailwindcss';

@font-face {
    font-family: FunnelDisplay;
    src: url('../assets/fonts/FunnelDisplay-VariableFont_wght.ttf');
}

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        /* font-family:; */
        font-family: 'FunnelDisplay', sans-serif;
        scrollbar-width: none;
        -ms-overflow-style: none;
        background-color: var(--color-primary);
    }
}

@theme {
    --text-dynamic: clamp(10px, 16px, calc(12 * 0.125vh));
    --color-primary: #f0f0f0;
    --color-secondary: #383838;
    --color-primary-foreground: #454545;
    --color-accent: #3b82f6;
    --color-accent-foreground: #1a1a1a;
    --color-accent-secondary: #10b981;
    --color-accent-secondary-foreground: #1a1a1a;
    --center-to-navbar: calc((((100vw - (30px * 2)) / 6) / 2) - 21px);
    --heading-size: clamp(38px, 2.5vw, 3rem);
    --nav-button-font-size: clamp(24px, 30px, 1.8vw);
}

.text-fit {
    font-size: 100cqh;
    line-height: 1;
}
